<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="CalculadoraRecetaBDLocal" connectionString="Data Source =.\SQLExpress; AttachDbFilename =D:\WorkGit\CalculadoraRecetasFantasiaColores\CalculadoraRecetas\bin\Debug\Base\RecetasBD.mdf; Database = CalculadoraRecetaBDLocal; Trusted_Connection = Yes" providerName="System.Data.SqlClient"/>-->
    <add name="CalculadoraRecetaBDLocal" connectionString="Data Source =192.168.141.129,1433; Database = CalculadoraReceta; User Id=sa;Password=PasswordO1.;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Define la ruta donde se encuentran los archivos de la base de datos con extencion *.mdf y *.ldf-->
    <add key="databasefilepath" value="D:\VisualStudioProjects\CalculadoraRecetas\CalculadoraRecetas\bin\Debug\Base" />
    <!--Define en que lugar se va a generar y guardar los backup de los archivos de la base de datos con extencion *.mdf y *.ldf-->
    <add key="backupath" value="D:\VisualStudioProjects\CalculadoraRecetas\CalculadoraRecetas\bin\Debug\BackUps" />
    <!--Nombe que se le asignara a los archivos de backup que se generen-->
    <add key="backupname" value="calcresetabackup" />
  </appSettings>
</configuration>